div {
  height: 50px;
  width: 100%;
  background-color: #003060;
}
divp {
  text-align: center;
  background-color: #003060;
}
body {
    background-color: #000000;
  color: #ddddff;
  font-family: "Lucida Console", "Courier New", monospace;
}
