div {
  height: 50px;
  width: 100%;
  background-color: #eecc33;
}
divp {
  margin: auto;
  color: #001122;
  text-align: center;
  vertical-align: middle;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
}
