div {
  height: 25px;
  width: 100%;
  background-color: #eecc33;
}
divp {
  color: #001122;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Verdana, sans-serif;
}
